<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<bean id="triangle" class = "prepare.interview.Triangle">
		<property name="pointA" ref="point0"/>
		<property name="pointB">
			<bean class="prepare.interview.Point">
				<property name="x" value="-20"/>
				<property name="y" value="0"/>
			</bean>
		</property>
		<property name="pointC">
			<bean class="prepare.interview.Point">
				<property name="x" value="20"/>
				<property name="y" value="0"/>
			</bean>
		</property>
	</bean>
	<bean id="point0" class="prepare.interview.Point">
		<property name="x" value="0"/>
		<property name="y" value="0"/>
	</bean>
	<alias name="triangle" alias="triangle-alias"/>
</beans>